
/*style sheet for hnm eats*/
* {
	padding:0;
	margin:0;	
}

body {
	/*background-color:#faebd7;*/
	 background-color:#fff;
	
}

div#wrapper {
	width:940px;
	margin:20px auto;	
}

header {
	height:100px;
	margin-bottom:10px;
	/*background-color:#c8bcac;*/
}

div#container1 {
	height:100px;
	float:left;
	
}


div#container2 {
	float:right;
	width:720px;
	/*background-color:#faebd7;*/
	background-color:#fff;
	padding-top:25px;
	border-bottom:2px #D3D3D3 solid;
	
}

nav li {
	width:18%;
	float:left;
	list-style-type:none;
	text-align:center;
	line-height:1.5;
	
}

a {
	text-decoration:none;
	/*display:block;*/
	 color:#545454;	
	
}

#logo {
	height:100px;
	
}

main#page1 {
	/*background-color:#7d756b;*/
	width:940px;
	/*border-top:2px #000 solid;*/
	/*border-left:2px #000 solid;*/
	/*border-right:2px #000 solid;*/
	/*border-bottom:2px #000 solid;*/
	/*height:400px;*/ 
}

main#bio {
	display:block;
    float:left;
	#margin-bottom:20px;
}

aside#review {
	width:630px;
	/*background-color:yellow;*/
	float:right;
	height:580px;
	border-left:1px dotted #666;
	#border-right:1px dotted #666;
	padding-right:20px;
	padding-left:20px;
	margin-top:10px;
}

div#banner {
	/*margin-left:145px;*/
	/*margin-right:145px;*/
	margin-top:20px;
	padding-bottom:20px;
	padding-top:5px;
}

footer {
	height:50px;
	background-color:#faebd7;
	line-height:50px;
	clear:both; 
	/*border-top:2px #000 solid;*/
	margin-bottom:20px;
    text-align:center;
}

footer li {
	list-style:none;
	float:left;
	width:33.3%;
	text-align:center;
	font-size:.8em;
	color:#000;	
}
